<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
						http://www.springframework.org/schema/beans/spring-beans-3.0.xsd"
	default-lazy-init="true">

	<description>Shiro Configuration</description>
	
	<bean id="sessionIdGenerator" class="org.apache.shiro.session.mgt.eis.JavaUuidSessionIdGenerator" />
	
	<bean id="sessionIdCookie" class="org.apache.shiro.web.servlet.SimpleCookie">
		<constructor-arg value="Shop_sessionId" />
		<property name="httpOnly" value="true"></property>
		<property name="maxAge" value="-1"/>
	</bean>
	
	<bean id="customSessionListener" class="com.alice.shop.shiro.listener.CustomSessionListener">
		<property name="shiroSessionRepository" ref="jedisShiroSessionRepository" />
	</bean>
	
	<bean id="rememberMeCookie" class="org.apache.shiro.web.servlet.SimpleCookie" >
		<constructor-arg value="Shop_remeberCookie"/>
		<property name="httpOnly" value="true"/>
		<property name="maxAge" value="259200" /><!-- 30天 -->
	</bean>
	
	<bean id="rememberMeManager" class="org.apache.shiro.web.mgt.CookieReemeberMeManager" >
		<property name="cipherKey"
					value="#{T(org.apache.shiro.codec.Base64).decode('3AvVhmFLUs0KTA3Kprsdag==')}">
		</property>
		<property name="cookie" ref="remeberMeCookie" />
	</bean>
	
	<bean id="customShiroSessionDAO" class="com.alice.shop.shiro.dao.CustomShiroSessionDAO">
			<property name="shiroSessionRepository" ref="jedisShiroSessionRepository" ></property>
			<property name="sessionIdGenerator" ref="sessionIdGenerator" />
	</bean>
	
	<bean id="customSessionManager" class="com.alice.shop.shiro.session.CustomSessionManager">
		<property name="shiroSessionRepository" ref="jedisShiroSessionRepository"/>
		<property name="customShiroSessionDAO" ref="customShiroSessionDAO"/>
	</bean>
	
	<bean id="sessionValidationScheduler" class="org.apache.shiro.session.mgt.ExcutorServerValidationScheduler">
		<property name="interval" value="18000000"/>
		<property name="sessionManager" ref="sessionManager"/>
	</bean>
	
	<!-- Shiro's main business-tier object for web-enabled applications -->
	<bean id="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">
		<property name="realm" ref="shiroUserRealm" />
		<property name="sessionManager" ref="sessionManager"/>
		<property name="remeberMeManager" ref="rememberMeManager"/>
		<property name="cacheManager" ref="customShiroCacheManager" />
	</bean>

	<bean id="shiroUserRealm" class="com.alice.shop.realm.ShiroUserRealm">
		<property name="cacheManager" ref="cacheManager" />
	</bean>
	
	<bean id="customShiroCacheManager" class="com.alice.shop.shiro.cache.Impl.CustomShiroCacheManager">
		<property name="shiroCacheManager" ref="jedisShiroCacheManager" />
	</bean>
	
	
	
	<!-- 项目自定义过滤器 -->
	<bean id="loginfilter" class="com.alice.shop.filter.LoginFilter" />
	
	
	<!-- Shiro Filter -->
	<bean id="shiroFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">
		<property name="securityManager" ref="securityManager" />
		<property name="loginUrl" value="/login" />
		<property name="successUrl" value="/index" />
		<property name="unauthorizedUrl" value="/403" />
		<property name="filterChainDefinitions"  >
			<value>
				/admin = authc
				/cart = authc
				/list = authc
				/addComment = authc
				/addOrder = authc
				/user = authc
				/** = anon
			</value>
<!-- 		<property name="filters"> -->
<!-- 			<util:map> -->
<!-- 				<entrykey key="loghin" key-ref="loginfilter"></entrykey> -->
<!-- 			</util:map> -->
		</property>
	</bean>
	
	<!-- 缓存管理器 使用Ehcache实现 -->
    <bean id="cacheManagers" class="org.apache.shiro.cache.ehcache.EhCacheManager">
        <property name="cacheManagerConfigFile" value="classpath:ehcache.xml" />
    </bean>

	<!-- 用户授权信息Cache -->
	<bean id="cacheManager" class="org.apache.shiro.cache.MemoryConstrainedCacheManager" />

	<!-- 保证实现了Shiro内部lifecycle函数的bean执行 -->
	<bean id="lifecycleBeanPostProcessor" class="org.apache.shiro.spring.LifecycleBeanPostProcessor" />

	<!-- AOP式方法级权限检查 -->
	<bean class="org.springframework.aop.framework.autoproxy.DefaultAdvisorAutoProxyCreator"
		depends-on="lifecycleBeanPostProcessor">
		<property name="proxyTargetClass" value="true" />
	</bean>

	<bean class="org.apache.shiro.spring.security.interceptor.AuthorizationAttributeSourceAdvisor">
		<property name="securityManager" ref="securityManager" />
	</bean>
</beans>