<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.alice.shop.dao.CartMapper" >
  <resultMap id="BaseResultMap" type="com.alice.shop.bean.Cart" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="commodityId" property="commodityid" jdbcType="INTEGER" />
    <result column="commodityCount" property="commoditycount" jdbcType="INTEGER" />
    <result column="userid" property="userid" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, commodityId, commodityCount, userid
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from cart
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from cart
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.alice.shop.bean.Cart" >
    insert into cart (id, commodityId, commodityCount, 
      userid)
    values (#{id,jdbcType=INTEGER}, #{commodityid,jdbcType=INTEGER}, #{commoditycount,jdbcType=INTEGER}, 
      #{userid,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.alice.shop.bean.Cart" >
    insert into cart
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="commodityid != null" >
        commodityId,
      </if>
      <if test="commoditycount != null" >
        commodityCount,
      </if>
      <if test="userid != null" >
        userid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="commodityid != null" >
        #{commodityid,jdbcType=INTEGER},
      </if>
      <if test="commoditycount != null" >
        #{commoditycount,jdbcType=INTEGER},
      </if>
      <if test="userid != null" >
        #{userid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.alice.shop.bean.Cart" >
    update cart
    <set >
      <if test="commoditycount != null" >
        commodityCount = #{commoditycount,jdbcType=INTEGER},
      </if>
    </set>
    where 1=1
    <if test="id!=null">
    	and id = #{id,jdbcType=INTEGER}
    </if>
    <if test="commodityid != null" >
        and commodityId = #{commodityid,jdbcType=INTEGER}
      </if>
    <if test="userid != null" >
        and userid = #{userid,jdbcType=INTEGER}
      </if>
  </update>
  <update id="updateByPrimaryKey" parameterType="com.alice.shop.bean.Cart" >
    update cart
    set commodityId = #{commodityid,jdbcType=INTEGER},
      commodityCount = #{commoditycount,jdbcType=INTEGER},
      userid = #{userid,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="queryforOrder" parameterType="com.alice.shop.bean.Cart" resultType="java.util.HashMap">
  	select * from cart 
  	where 1=1 
  	<if test="userid!=null">
  		and userid = #{userid,jdbcType=INTEGER}
  	</if>
  	<if test="commodityid!=null">
  		and commodityId = #{commodityid,jdbcType=INTEGER}
  	</if>
  </select>
  <delete id="deleteOrderByuserId" parameterType="java.lang.Integer">
  	delete from 
  	cart
  	where userid=#{userid,jdbcType=INTEGER}
  </delete>
  <select id="queryForOrder" parameterType="java.lang.Integer" resultType="com.alice.shop.bean.Cart">
  	select * from cart 
  	where userid=#{userId,jdbcType=INTEGER}
  </select>
</mapper>