<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.alice.shop.dao.CommodityMapper" >
  <resultMap id="BaseResultMap" type="com.alice.shop.bean.Commodity" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="price" property="price" jdbcType="REAL" />
    <result column="amount" property="amount" jdbcType="INTEGER" />
    <result column="manufacturer" property="manufacturer" jdbcType="VARCHAR" />
    <result column="img" property="img" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.alice.shop.bean.Commodity" extends="BaseResultMap" >
    <result column="depict" property="depict" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, name, price, amount, manufacturer, img, type
  </sql>
  <sql id="Blob_Column_List" >
    depict
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from commodity
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from commodity
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.alice.shop.bean.Commodity" >
    insert into commodity (id, name, price, 
      amount, manufacturer, img, 
      type, depict)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{price,jdbcType=REAL}, 
      #{amount,jdbcType=INTEGER}, #{manufacturer,jdbcType=VARCHAR}, #{img,jdbcType=VARCHAR}, 
      #{type,jdbcType=VARCHAR}, #{depict,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.alice.shop.bean.Commodity" >
    insert into commodity
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="price != null" >
        price,
      </if>
      <if test="amount != null" >
        amount,
      </if>
      <if test="manufacturer != null" >
        manufacturer,
      </if>
      <if test="img != null" >
        img,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="depict != null" >
        depict,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        #{price,jdbcType=REAL},
      </if>
      <if test="amount != null" >
        #{amount,jdbcType=INTEGER},
      </if>
      <if test="manufacturer != null" >
        #{manufacturer,jdbcType=VARCHAR},
      </if>
      <if test="img != null" >
        #{img,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="depict != null" >
        #{depict,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.alice.shop.bean.Commodity" >
    update commodity
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        price = #{price,jdbcType=REAL},
      </if>
      <if test="amount != null" >
        amount = #{amount,jdbcType=INTEGER},
      </if>
      <if test="manufacturer != null" >
        manufacturer = #{manufacturer,jdbcType=VARCHAR},
      </if>
      <if test="img != null" >
        img = #{img,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="depict != null" >
        depict = #{depict,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.alice.shop.bean.Commodity" >
    update commodity
    set name = #{name,jdbcType=VARCHAR},
      price = #{price,jdbcType=REAL},
      amount = #{amount,jdbcType=INTEGER},
      manufacturer = #{manufacturer,jdbcType=VARCHAR},
      img = #{img,jdbcType=VARCHAR},
      type = #{type,jdbcType=VARCHAR},
      depict = #{depict,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.alice.shop.bean.Commodity" >
    update commodity
    set name = #{name,jdbcType=VARCHAR},
      price = #{price,jdbcType=REAL},
      amount = #{amount,jdbcType=INTEGER},
      manufacturer = #{manufacturer,jdbcType=VARCHAR},
      img = #{img,jdbcType=VARCHAR},
      type = #{type,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="queryAllList" parameterType="com.alice.shop.bean.Commodity" resultType="com.alice.shop.bean.Commodity">
  	select * from commodity
  	where 1=1
  	<if test="name != null" >
        and name = #{name,jdbcType=VARCHAR}
      </if>
      <if test="price != null" >
        and price = #{price,jdbcType=REAL}
      </if>
      <if test="amount != null" >
        and amount = #{amount,jdbcType=INTEGER}
      </if>
      <if test="manufacturer != null" >
        and manufacturer = #{manufacturer,jdbcType=VARCHAR}
      </if>
      <if test="img != null" >
        and img = #{img,jdbcType=VARCHAR}
      </if>
      <if test="type != null" >
        and type = #{type,jdbcType=VARCHAR}
      </if>
      <if test="depict != null" >
        and depict = #{depict,jdbcType=LONGVARCHAR}
      </if>
  </select>
  <select id="serach" parameterType="java.lang.String" resultType="com.alice.shop.bean.Commodity">
  	select * from commodity
  	where 
  	name like concat('%',#{keyword,jdbcType=LONGVARCHAR},'%') 
  	union
  	(select * from commodity 
  	where 
  	depict like concat('%',#{keyword,jdbcType=LONGVARCHAR},'%'))
  </select>
</mapper>